This software includes external packages and source code.
The applicable license information is listed below:
{{- range .artifacts }}
{{- if .licenses }}

----

Package: {{ .name }}:{{ .version }}
{{- range .licenses }}
{{- if .spdxExpression }}
License: {{ .spdxExpression }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
